<div class="card">
  <div class="card-header">
    Rx F1
  </div>
<div  class='card-body' *ngIf="vm$ | async as vm">
  <p>Select Season</p>
  <select class="form-select" aria-label="Season list" (change)="onSeasonSelected($any($event.target).value)">
    <option *ngFor="let season of SEASONS_OPTIONS" [value]="season" >{{season}}</option>
  </select>

  <p>Select Page Size</p>
  <select class="form-select" aria-label="Page size list" (change)="onPageSizeSelected($any($event.target).value)">
    <option *ngFor="let pageOption of PAGE_SIZE_OPTIONS" [value]="pageOption" >{{pageOption}}</option>
  </select>

  <h4>List of Drivers</h4>
  <ul>
    <li *ngFor="let driver of vm.drivers">{{driver.givenName}} {{driver.familyName}}</li>
  </ul>

  <h4>Races</h4>
  <ul>
    <li *ngFor="let race of vm.races">{{race.raceName}} - Winner: {{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}} <button type="button" (click)="onShowMoreInfo(race.round)">more info</button></li>
  </ul>
</div>

<f1-race-detail-container></f1-race-detail-container>
</div>
